#
# server
#
PORT=5500
#
# DB
#
DB_PORT=5432
DB_DATABASE=dev_kopiyka
DB_USER_NAME=dev_kopiyka
DB_PASSWORD=changeMe
#
# redis
#
REDIS_PORT=6379
REDIS_HOST=localhost
#
# JWT
#
JWT_SECRET=secret
JWT_TOKEN_AUDIENCE=localhost:PORT
JWT_TOKEN_ISSUER=localhost:PORT
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
